<html>

<head>
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta charset="utf-8">
	<title>Login</title>
	<link type="text/css" rel="stylesheet" href="//appsforoffice.microsoft.com/fabric/1.0/fabric.min.css">
	<link type="text/css" rel="stylesheet" href="//appsforoffice.microsoft.com/fabric/1.0/fabric.components.min.css">
	<link type="text/css" rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
	<div id="main-content" class="ms-Grid">
		<div class="ms-Grid-row">
			<div id="title-banner" class="ms-font-su">Outlook Calendar Sync Demo</div>
		</div>
		<div id="body-content" class="ms-Grid-row">
			<a id="signin-button" class="ms-Button ms-Button--primary" href="<%= authUrl %>">
				<span class="ms-Button-label">Click here to sign in</span>
			</a>
		</div>

		<div class="ms-Grid-row">
			<div id="title-banner" class="ms-font-su">Google Calendar Sync Demo</div>
		</div>
		<div id="body-content" class="ms-Grid-row">
			<a id="signin-button" class="ms-Button ms-Button--primary" href="/google">
				<span class="ms-Button-label">Click here to sign in</span>
			</a>
		</div>
	</div>

</body>

</html>